{% extends 'base.html' %}

{% block header %}
	<h3>{% block title %}
			{% if not file %}
				Upload Files
			{% else %}
				Run the App
			{% endif %}
		{% endblock %}</h3>
{% endblock %}

{% block content %}
	{% if not file %}
	<form method="POST" enctype="multipart/form-data">
		
		<h4>Streamlit Script (streamlit.py):</h4>
		<input type="file" name="streamlit">
    	<h4>Model Pickle (model.pkl):</h4>
		<input type="file" name="model">
		<button type="submit" class="upload">Upload</button>
		
	</form>
	{% else %}
	<a href="{{ url_for('.compile', file=file) }}"><button type="button">Compile</button></a>
	<a href="{{ url_for('.delete') }}"><button type="button">Remove Files</button></a>
	{% endif %}
{% endblock %}
